@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}



nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.black {
    color: black;
}

.mauve {
    color: #808CFD;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#titre {
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 2px;
    font-weight: 900;

}

#titre h1 {
    margin: 4px;
}

.hero {
    background-color: #E9ECFF;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* aligne le contenu verticalement vers le bas */
    flex-direction: row;



}

#img {

    width: 854px;
    height: 480px;
    object-fit: cover;
    /* display: flex; */

}

#Text-panel {
    color: black;
    width: 386px;
    height: 82px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;

}

h2 {
    /* width: 386px;
    height: 82px; */
    font-size: 40px;

}

#Body-contain {
    margin-top: 100px;
}

#button {
    background-color: #5f6be0;
    color: white;
    padding: 5px 10px;
    /* transition: 2s; */
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;


}

#button:hover {
    background-color: #5f6be0;
    color: #fff;
    /* border-radius: 30%; */
    /* margin-bottom: 200px; */
    box-shadow: 0 0.5em 0.5em -o.4em #5f6be0;
    transform: translateY(-0.25em);
    cursor: pointer;

}

.Section {
    background-color: #E9ECFF;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    /* align-items: stretch; */




}

#Guided-by-card {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;

}

.Section p {
    margin-top: 230px;
}

#Dynamic-gym-card {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;


}

#img-section {

    width: 1460px;
    height: 480px;
    object-fit: cover;
    /* display: flex; */
}